.ShoppingCart {
    border: solid 1px black;
    width: 90%;
    margin-top: 3rem;
    margin-left: 4rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* border-radius: 20px; */
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.292);
    margin-bottom: 3rem;
    padding: 0%;
}

.tr-table {
  text-align: left;
  padding-left: 2rem;
}

.tr-table > th {
    color: rgba(0, 0, 0, 0.747);
    /* text-align: center; */
}

.ShoppingCart td {
    padding: 10px 15px;
    /* text-align: center; */
}

.strong-total-price {
    left: 5rem;
}


.total-price-text
.product-cards-container {
    display: flex;
    flex-direction: column;
    
}

.product-card-shop {
    display: flex; 
    align-items: center; 
    border: 1px solid #ddd;
    padding: 15px;
    /* width: 100%; */
    background-color: #f9f9f9;
    border-radius: 8px;
margin-left: 5rem;
margin-right: 5rem;
margin-top: 1rem;
}

.product-image-shop {
    width: 151px;
    height: 151px;
    margin-right: 15px; 
}

.product-name-shop {
    margin: 0px 0px 8px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.334;
    letter-spacing: 0em;
    font-weight: 500;
    font-size: 24px;
    /* width: 100%; */
}

.product-info {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    width: 100%; 
}

.x-mark-btn {
    border: none;
    background-color: transparent;
}

.x-mark-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .2s ease; 
}

.x-mark-icon:hover {
    transform: scale(1.1) rotate(90deg);
   color: rgb(252, 95, 95);
}